body{
    background-color: #000000a2;
    color: #ffffff;
    text-align: center;
}

#conteiner{
    margin: auto;
    width: 450px;
    padding: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.492);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.298);
}

a, footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.825);
}

#conteiner img{
    width: 220px;
}